.logo {
  background-image: url(./red-ant.png);
  background-size: 120px;
  background-repeat: no-repeat;
  min-height: 90px;
  margin-left: 28px;
}

.btn {
  margin-bottom: 30px;
}

#racers {
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px 20px;
  text-align: left;
}

.racer0 {
  background-color: #007bff;
}

.racer1 {
  background-color: #dc3545;
}

.racer2 {
  background-color: #28a745;
}

.racer3 {
  background-color: #F99618;
}

.racer4 {
  background-color: #FF33C1;
}

.odds {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}